{% extends 'account/create/base_create.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block title %}Création de profil{% endblock %}

{% block body %}
    <h1>Créez votre profil</h1>

    {{ include('account/create/_form.html.twig') }}

  
{% endblock %}
