{% extends 'admin/base_admin.html.twig' %}
{# {% extends 'base.html.twig' %} #}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créez votre profil</h1>

    {{ include('account/create/_form.html.twig') }}

    <a href="{{ path('public_user_index') }}">back to list</a>
{% endblock %}
