{% extends 'account/create/base_create.html.twig' %}

{% block title %} Sebfony - Création de profil {% endblock %}

{% block body %}
    <h1> Créez votre profil sur Sebfony </h1>

    {{ include('account/create/_form.html.twig') }}

{% endblock %}
