<form method="post" action="{{ path('public_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer votre profil ? Vous serez redirigé(e) vers l'accueil.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn" style="color:#FF0000">Supprimer son profil</button>
</form>