<form method="post" action="{{ path('app_commentaires_delete', {'id': commentaire.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentaire.id) }}">
    <button class="btn">SUPPRIMER</button>
</form>
