
{% extends 'account/baseAccount.html.twig' %}

{% block title %}Sebfony - Votre profil{% endblock %}
 
{% block body %}

    <br>
    <br>
    <a href="{{ path('app_account')}}">Retour accueil</a>
    <h1>Modification du profil</h1>
    <br>
    {{ include('account/actions/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ include('account/actions/_deleteUser_form.html.twig') }}

{% endblock %}
