{% extends 'account/baseAccount.html.twig' %}

{% block title %}Sebfony - Laissez votre commentaire{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
        <a href="{{ path('app_account')}}">Retour accueil</a>
        <h1>Laissez votre commentaire</h1>
    <br>
        {{ include('account/actions/_formCom.html.twig') }}

{% endblock %}
